/* FAQ */
.faq_container {
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 25px 50px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.faq_container h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}

.survey_accordion {
  display: flex;
  justify-content: space-between;

  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: rgba(0, 0, 0, 0.7);
}

.accordion_item {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;

  color: rgba(0, 0, 0, 0.5);
  margin-left: 1.5em;
}

@media only screen and (max-width: 425px) {
  .faq_container {
    padding: 25px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .accordion_item {
    margin-left: 1em;
  }
}
