/* FOOTER */
.footer {
  min-height: 5vh;
  border-top: 0.5px solid rgba(0, 0, 0, 0.4);
  position: relative;
  bottom: 0;
  padding: 15px 30px;
  display: flex;
  align-items: baseline;
}

.footer_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_left img {
  margin: 0 5px;
  width: 25px;
}

.footer_left h5 {
  margin-right: 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.75);
}

.footer_right {
  margin-left: auto;
}

.footer_right p {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: right;

  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 425px) {
  .footer {
    min-height: 5vh;
    border-top: 0.5px solid rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: 0;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .footer_left h5 {
    font-size: 12px;
    line-height: 16px;
  }

  .footer_right p {
    font-size: 10px;
    line-height: 12px;
  }

  .footer_left img {
    margin: 0 5px;
    width: 20px;
  }
}
