/* .header {
  background: transparent;
  position: absolute;
  min-height: 5vh;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: baseline;
}

.header_links {
  margin-left: auto;
}

.header_links ul {
  display: flex;
  align-items: center;
}

.links {
  list-style: none;
  margin-right: 50px;
}

.links a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 425px) {
  .header_links {
    display: none;
  }
} */

nav {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 1%;
  height: 100px;
  background-color: transparent;
  /* border: 1px solid red; */
}
nav .logo {
  float: left;
  display: flex;
  align-items: center;
  background: url("../asset/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 200px;
  height: 100px;
  /* border: 1px solid red; */
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 1em;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
  text-decoration: none;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  nav .logo {
      /* width: auto; */
      justify-content: center;
  }
  nav .links {
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      /* background-color: rgba(0, 0, 0, 0.8); */
      /* background-color: #0f1123; */
      /* background-color: rgba(255, 255, 255, 0.467); */
      background-color: #fff;
      /* background: transparent; */
      /* backdrop-filter: blur(5px); */
      overflow: hidden;
      box-sizing: border-box;
      transition: all 0.5s ease-in-out;
  }
  nav .links a {
      font-size: 20px;
      color: black;
  }
  nav :checked ~ .links {
      bottom: 0;
  }
  nav .icon-burger {
      display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
  }
}