.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../asset/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  margin-top: 75px;
  
}

.hero-title h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
  margin-bottom: 25px;
  font-family: "Cabin", sans-serif;
}

.hero-title p {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 25px;
}

.survey-step {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steps img {
  margin: 10px 65px;
}

.steps span {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 425px) {
  .survey-step {
    /* flex-wrap: wrap; */
    justify-content: baseline;
  }

  .hero-title {
    width: 90%;
    margin-top: 100px;
    margin-bottom: 25px;
  }

  .steps img {
    width: 50px;
    margin: 5px 25px;
  }

  .steps span {
    font-size: 10px;
    line-height: 12px;
  }
}
