.quest_container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.quest_choice {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 10px auto;
  width: 100%;
  padding: 10px;
}

.quest_choice.selected {
  background: #c4c4c4;
}

label {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 425px) {
  .quest_container {
    width: 90%;
  }
}
