/* SURVEY */
.survey_container {
  margin: 25px auto;
  padding: 15px;
}

.survey_container p {
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.survey_choice {
  display: flex;
  flex-direction: column;
}

.survey_choice button {
  margin: 10px auto;
  width: 40%;
  height: 40px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;

  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.75);
}

.survey_choice button.checked {
  background: #fab207;
}

.survey_submit {
  text-align: center;
}

.survey_submit button {
  background: #000000;
  border-radius: 10px;
  border: transparent;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 25px auto;
  width: 170px;
  height: 40px;
}

.user_input {
  text-align: center;
}

.user_input textarea {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  /* height: 40px; */
  padding: 5px;
  width: 30%;
  /* margin: 25px auto; */
}

.user_input input {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
  width: 30%;
  margin: 25px auto;
}

.completed_title {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}

.completed_img {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.completed_text {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: rgba(0, 0, 0, 0.6) !important;
}

.completed_desc {
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 22px !important;
  text-align: center !important;

  color: rgba(0, 0, 0, 0.7) !important;
}

.quest_container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.quest_choice {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 10px auto;
  width: 100%;
  padding: 10px;
}

.quest_choice.selected {
  background: #fab207;
}

label {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: rgba(0, 0, 0, 0.75);
}

.button_nav {
  text-align: center;
  margin: 25px auto;
}

.input-error {
  margin: 10px auto;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: #f55f44 !important;
}

.alamat_input {
  /* border: 1px solid red; */
  width: 40%;
  margin: 15px auto;
}

.address_dropdown {
  margin-bottom: 15px;
}

@media only screen and (max-width: 425px) {
  .quest_container {
    width: 90%;
  }
  .alamat_input {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .survey_choice button {
    width: 90%;
  }
  .user_input input {
    width: 90%;
  }
  .quest_container {
    width: 90%;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
